/* Enter your Styles below! */

body { 
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    overflow: hidden;
    max-width: 75ch;
     }

h1, h2, h3, h4 {
    font-family: Helvetica, sans-serif;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 28px;
}
h4 {
    font-size: 24px;
}

blockquote {
    margin: 20px 60px;
    font-family: Helvetica, sans-serif;
    text-align: center;
    overflow: hidden;
    max-width: 60ch;

}

header {margin-bottom: 20px;}

/* ensures that your images stretch the width of their containers */
img { width: 100%; }

a { 
    color: ;
    text-decoration: none;
     }
a:hover { color: black; }

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    width: 60%;
    margin: auto;
}

.grid div {
    background-color: #ccc;
    padding: 20px;

}
canvas {
  background: 
    linear-gradient(
      hsl(230, 50%, 80%) 0%, 
      hsl(120, 30%, 95%) 75%)
  ;
  display: block;
}

div {
  background: url(https://jackrugile.com/images/misc/skyline-texture.png);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

@media only screen and (min-width:768px) {

}

@media only screen and (min-width:1224px) {

}