/* Enter your Styles below! */


    @import "compass/css3";
* {
    box-sizing: border-box;
}
html, body 
{
    background-color: #fff;

}
.parallax
{
    perspective: 100px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    top: 0;
    left: 50%;
    right: 0;
    bottom: 0;
    margin-left: -800px;


}
#header{
  position: absolute;
  z-index: 1000;
  top: 200px;
  left: 200px;}
  
.parallax_0
{
    position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  
  img{
    display: block;
    position: absolute;
    bottom: 0;
  }
}

}
.parallax_cover{
  display: block;
  position: fixed;
  top: 100%;
  left: 0;
  right: 0;
  height: 2000px;
  z-index: 2;
}

$parallax__layers: 6;

@for $i from 0 through $parallax__layers {
  $x: ($parallax__layers - $i) / 2;
  .parallax__layer__#{$i}{
     transform: translateZ(-100 * $x#{px}) scale($x + 1);
  }
}





    /*
    .wrapper {
        width: 100vw;
        height: 100vh;
        position: relative;
        overflow: hidden;
    }
    .pos {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
    }
    .cloud {
        background-image:  url("images/cloud.png") 
    ;
        background-size: cover;
        transform: translate3d(0, 30px, 0);
        opacity: 0;
        animation: moveUp 1.8s ease-out;
        animation-fill-mode: forwards;
    }
    .cloud {
        background-image:  url("images/cloud.png") 
     ;
        background-size: cover;
        transform: scale3d(1.1, 1.1, 1.1);
        opacity: 0.2;
        animation: scaler 1s ease-out;
        animation-fill-mode: forwards;
    }

.cloud2 {
        background-image:url("images/cloud2.png") 
   ;
        background-size: cover;
        transform: scale3d(1.3, 1.3, 1.3);
        opacity: 0.1;
        animation: scaler 1.2s ease-out;
        animation-fill-mode: forwards;
    }
    .hill1 {
        background-image:url("images/hill1.png");
        background-size: cover;
        transform: scale3d(1.5, 1.5, 1.5);
        opacity: 0.1;
        animation: scaler 1.3s ease-out;
        animation-fill-mode: forwards;

    }
    .hill2 {
        background-image: url("images/hill2.png") 
        ;
        background-size: cover;
        transform: scale3d(1.6, 1.6, 1.6);
        opacity: 0.1;
        animation: scaler 1.4s ease-out;
        animation-fill-mode: forwards;
    }
    .hill4 {
        background-image: url("images/hill4.png");
        background-size: cover;
        transform: scale3d(1.7, 1.7, 1.7);
        opacity: 0.1;
        animation: scaler 1.5s ease-out;
        animation-fill-mode: forwards;
    }
    @keyframes moveUp {
        100% {
            transform: translate3d(0, 0, 0);
            opacity: 1;
        }
    }

@keyframes scaler {
        100% {
            transform: scale3d(1, 1, 1);
            opacity: 1;
        }
*/
h1, h2, h3, h4 {
    font-family: Helvetica, sans-serif;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 28px;
}
h4 {
    font-size: 24px;
}

blockquote {
    margin: 20px 60px;
    font-family: Helvetica, sans-serif;
    text-align: center;
    overflow: hidden;
    max-width: 60ch;

}

header {margin-bottom: 20px;}

/* ensures that your images stretch the width of their containers */
img { width: 100%; }

a { 
    color: ;
    text-decoration: none;
     }
a:hover { color: black; }

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    width: 60%;
    margin: auto;
}

.grid div {
    background-color: #ccc;
    padding: 20px;

}
canvas {
  background: 
    linear-gradient(
      hsl(230, 50%, 80%) 0%, 
      hsl(120, 30%, 95%) 75%)
  ;
  display: block;
}

div { 
 
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

@media only screen and (min-width:768px) {

}

@media only screen and (min-width:1224px) {

}